[client]
default-character-set = utf8mb4
port = 3306

[mysqld]
character-set-server = utf8mb4
datadir = /var/lib/mysql
user = mysql
port = 3306
max_allowed_packet = 64M
tmp_table_size = 256M
max_heap_table_size = 256M
event_scheduler = 1
back_log = 256
max_connections = 1024
max_connect_errors = 10240
sync_binlog = 0
sync_relay_log = 1000
sync_relay_log_info = 1000 
wait_timeout = 3600
net_read_timeout = 600
net_write_timeout = 600 
thread_cache_size = 32
thread_stack = 1024K
skip-external-locking
slave-skip-errors = 1032,1062,126,1114,1146,1048,1396

# -------------- #
# MyISAM Options #
# -------------- #
query_cache_type = OFF
query_cache_size = 0
query_cache_limit = 8M
myisam_sort_buffer_size = 16M

# -------------- #
# Buffer Options #
# -------------- #
bulk_insert_buffer_size = 64M
sort_buffer_size = 4M
join_buffer_size = 4M
key_buffer_size = 32M
read_buffer_size = 1M
read_rnd_buffer_size = 2M

# -------------- #
# InnoDB Options #
# -------------- #
innodb_buffer_pool_size = 256M
innodb_data_file_path = ibdata1:32M:autoextend
innodb_log_group_home_dir = /var/lib/mysql
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 64M
innodb_log_file_size = 512M
innodb_log_files_in_group = 2
innodb_lock_wait_timeout = 120
innodb_file_per_table = 1
innodb_rollback_on_timeout = 1
innodb_io_capacity = 200
innodb_io_capacity_max = 2000
innodb_read_io_threads = 4 
innodb_write_io_threads = 4

# --------------- #
# Logging Options #
# --------------- #
binlog_format = MIXED 
binlog_cache_size = 8M
expire_logs_days  = 30
long_query_time = 1
slow_query_log = ON
slow_query_log_file = /var/log/mysql/slow.log
#log-bin = /var/log/mysql/binlog
log-error = /var/log/mysql/mysql_error.log
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

[mysqldump]
quick
max_allowed_packet = 128M